@model List<ResultBookingDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="midde_cont">
	<div class="container-fluid">

		<script type="text/javascript">

				$(document).ready(() => {

					var connection = new signalR.HubConnectionBuilder()
						.withUrl("http://localhost:5003/SignalRHub/")
						.build();

					$("#connstatus").text(connection.state);


					connection.start().then(() => {
						$("#connstatus").text(connection.state);
							setInterval(() => {
						connection.invoke("GetBookingList");
					}, 3000);

					}).catch(err => {
						console.log(err);
					});



			connection.on("ReceiveBookingList", (value) => {
					console.log(value);
					let tablehtml=`<table class=table mt-3><thead>
										<tr>
										<th>#</th>
										<th>Ad Soyad</th>
										<th>Telefon</th>
										<th>Kişi Sayısı</th>
										<th>Rezervasyon Durumu</th>
										<th>Sil</th>
										<th>Güncelle</th>
										<th>Onayla</th>
										<th>İptal Et</th>
										</tr>
										</thead>`
										$.each(value,(index,item) =>{
											tablehtml+=`<tr>
											<th>${index+1}</th>
											<td>${item.name}</td>
											<td>${item.phone}</td>
											<td>${item.personCount}</td>
											<td>${item.description}</td>
											<td><a href="/Booking/DeleteBooking/${item.bookingID}" class="btn btn-outline-danger">Sil</a></td>
											<td><a href="/Booking/UpdateBooking/${item.bookingID}" class="btn btn-outline-success">Güncelle</a></td>
											<td><a href="/Booking/BookingStatusApproved/${item.bookingID}" class="btn btn-outline-info">Onayla</a></td>
											<td><a href="/Booking/BookingStatusCancel/${item.bookingID}" class="btn btn-outline-dark">İptal Et</a></td>
											</tr>`
										});
										tablehtml+="</tbody></table>";
										$("#bookingList").html(tablehtml);

					
				});

				});
		</script>


		<div class="row column_title">
			<div class="col-md-12">
				<div class="page_title">
					<h2>Rezervasyon İşlemleri</h2>
				</div>
			</div>
		</div>
		<!-- row -->
		<div class="row">
			<!-- table section -->
			<div class="col-md-12">
				<div class="white_shd full margin_bottom_30">
					<div class="full graph_head">
						<div class="heading1 margin_0">
							<h2>Rezervasyon Listesi</h2>
						</div>
					</div>
					<div class="table_section padding_infor_info">
						<div class="table-responsive-sm">
							<div id="bookingList"></div>
							<a href="/Booking/CreateBooking/" class="btn btn-outline-primary">Yeni Rezervasyon Girişi</a>
							
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>
