@model List<ResultDiscountDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="midde_cont">
	<div class="container-fluid">
		<div class="row column_title">
			<div class="col-md-12">
				<div class="page_title">
					<h2>Günün İndirimleri İşlemleri</h2>
				</div>
			</div>
		</div>
		<!-- row -->
		<div class="row">
			<!-- table section -->
			<div class="col-md-12">
				<div class="white_shd full margin_bottom_30">
					<div class="full graph_head">
						<div class="heading1 margin_0">
							<h2>İndirim Listesi</h2>
						</div>
					</div>
					<div class="table_section padding_infor_info">
						<div class="table-responsive-sm">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Ürün</th>
										<th>İndirim Oranı</th>
										<th>Durum</th>
										<th>Sil</th>
										<th>Güncelle</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										<tr>
											<td>@item.DiscountID</td>
											<td>@item.Title</td>
											<td>@item.Amount</td>
											<td><a href="/Discount/DeleteDiscount/@item.DiscountID" class="btn btn-outline-warning">Durum</a></td>
											<td><a href="/Discount/DeleteDiscount/@item.DiscountID" class="btn btn-outline-danger">Sil</a></td>
											<td><a href="/Discount/UpdateDiscount/@item.DiscountID" class="btn btn-outline-success">Güncelle</a></td>
										</tr>
									}

								</tbody>
							</table>
							<a href="/Discount/CreateDiscount/" class="btn btn-outline-primary">Yeni Günün İndirimi Ekle</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>

