
<nav id="sidebar">
	<div class="sidebar_blog_1">
		<div class="sidebar-header">
			<div class="logo_section">
				<a href="index.html"><img class="logo_icon img-responsive" src="~/pluto-1.0.0/images/logo/logo_icon.png" alt="#" /></a>
			</div>
		</div>
		<div class="sidebar_user_info">
			<div class="icon_setting"></div>
			<div class="user_profle_side">
				<div class="user_img"><img class="img-responsive" src="~/pluto-1.0.0/images/layout_img/user_img.jpg" alt="#" /></div>
				<div class="user_info">
					<h6>John David</h6>
					<p><span class="online_animation"></span> Online</p>
				</div>
			</div>
		</div>
	</div>

	<div class="sidebar_blog_2">
		<h4>SignalR Admin Paneli</h4>
		<ul class="list-unstyled components">

			<li>
				<a href="#">
					<i class="fa fa-home red_color"></i>
					<span>Siteye Git</span>
				</a>
			</li>

			<li>
				<a href="#">
					<i class="fa fa-dashboard yellow_color"></i>
					<span>Dashboard</span>
				</a>
			</li>
			
			<li>
				<a href="contact.html">
					<i class="fa fa-rocket purple_color"></i>
					<span>Menüyü Gör</span>
				</a>
			</li>

			<li>
				<a href="/Category/Index/">
					<i class="fa fa-database orange_color2"></i>
					<span>Kategoriler</span>
				</a>
			</li>

			<li>
				<a href="/Product/Index/">
					<i class="fa fa-cutlery green_color"></i>
					<span>Ürünler</span>
				</a>
			</li>

			<li>
				<a href="/Booking/Index/">
					<i class="fa fa-ticket red_color"></i>
					<span>Rezervasyonlar</span>
				</a>
			</li>

			<li>
				<a href="/About/Index/">
					<i class="fa fa-university brown_color"></i>
					<span>Hakkımızda</span>
				</a>
			</li>

			<li>
				<a href="contact.html">
					<i class="fa fa-send orange_color"></i>
					<span>Mesajlar</span>
				</a>
			</li>

			<li>
				<a href="/Discount/Index/">
					<i class="fa fa-percent yellow_color"></i>
					<span>İndirimler</span>
				</a>
			</li>

			<li>
				<a href="/Contact/Index/">
					<i class="fa fa-phone green_color"></i>
					<span>İletişim</span>
				</a>
			</li>

			<li>
				<a href="/Feature/Index/">
					<i class="fa fa-magic purple_color"></i>
					<span>Öne Çıkanlar</span>
				</a>
			</li>

			<li>
				<a href="/Testimonial/Index">
					<i class="fa fa-tags red_color"></i> 
					<span>Referanslar</span>
				</a>
			</li>

			<li>
				<a href="/SocialMedia/Index/">
					<i class="fa fa-camera purple_color2"></i>
					<span>Sosyal Medya</span>
				</a>
			</li>

			<li>
				<a href="charts.html">
					<i class="fa fa-bar-chart-o green_color"></i>
					<span>İstatistikler</span>
				</a>
			</li>

			<li>
				<a href="settings.html">
					<i class="fa fa-cog yellow_color"></i>
					<span>Settings</span>
				</a>
			</li>

			<li>
				<a href="#">
					<i class="fa fa-sign-out blue_color"></i>
					<span>Çıkış Yap</span>
				</a>
			</li>

		</ul>
	</div>
</nav>