@model List<ResultSocialMediaDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="midde_cont">
	<div class="container-fluid">
		<div class="row column_title">
			<div class="col-md-12">
				<div class="page_title">
					<h2>Sosyal Medya İşlemleri</h2>
				</div>
			</div>
		</div>
		<!-- row -->
		<div class="row">
			<!-- table section -->
			<div class="col-md-12">
				<div class="white_shd full margin_bottom_30">
					<div class="full graph_head">
						<div class="heading1 margin_0">
							<h2>Sosyal Medya Listesi</h2>
						</div>
					</div>
					<div class="table_section padding_infor_info">
						<div class="table-responsive-sm">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Başlık</th>
										<th>Link</th>
										<th>Sil</th>
										<th>Güncelle</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										count++;
										<tr>
											<th>@count</th>
											<td>@item.Title</td>
											<td>@item.Url</td>
											<td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaID" class="btn btn-outline-danger">Sil</a></td>
											<td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaID" class="btn btn-outline-success">Güncelle</a></td>
										</tr>
									}

								</tbody>
							</table>
							<a href="/SocialMedia/CreateSocialMedia/" class="btn btn-outline-primary">Yeni Sosyal Medya Girişi</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>

